.header{
    background-image:url("../diane/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    width: 100%;
    height: 650px;
    color: white;
    text-align: center;
   }
   #lo{
       margin-top: 100px;
    }
    #mou{
        margin-top: 72px;
    }
#col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 180%;
}
h1{
     font-size: 63px; 
    text-align: center;
    margin-top: 80px;
    line-height: 130%;
}
h2{
    text-align: center;
}
 
p{
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
}

#sav{
    background-image: url("../diane/2.jpg");
    background-size: cover;
    height: 350px;
    width: 100%;
    color: white; 
    line-height: 180%; 
}     
#ser{
    margin-top: 150px;
}

body{
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(228, 235, 235);
}
#ce{
    text-align: center;
}
#ce p{
   
    display: none;
}
.row{
    margin-bottom: 20px;
}
#sp{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-left: 10px;
}
#ve{
    position: absolute;
    text-align: center;

}
#ver1{
    position: relative;
    overflow: hidden;
}
.row img:hover{
    opacity: 0.5;
    transition: 2s;
}
#nano{
    background-image: url("../diane/3.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
   color: white; 
}
#one,#two,#three{
    background-color: transparent;
    color: white;
    font-size: 17px;
    
   
}
/* #one{
   
    margin-left: 23%;
    
} 
 #two{
    
    margin-left: 52%;
} */
#three{
    width: 53%;
    height: 250px;
    /* margin-left: 300px; */
    margin-top: 8px;
    padding-bottom: 200px;
}
#one,#two{
    width: 25%;
    height: 50px;
  
}